.App {
  margin: 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  position: relative;
  width: 350px;
  min-height: 250px;
  border: 1px solid #575858;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.remove {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
}

.notes__title {
  display: flex;
}

.btn-refresh {
  cursor: pointer;
  background: none;
  border: none;
}

.new-note {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  position: relative;
}

.new-note button {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
}